<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Registration Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/common/validationUser.js"></script>
	<script src="/js/scripts/createUser.js"></script>
	<link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>

<section id="one">
	<div class="login-box">
		<div class="content">
			<h2 class="align-center">Kitchen Cat - Create An Account</h2>
			<hr />
			<form id="create_account" class="create_account">
				<div class="field">
					<label>First Name:</label>
					<input type='text' id='first_name' class="valid"/>
				</div>
				<div class="field">
					<span class="error"></span>
				</div>
				<div class="field">
					<label>Last Name:</label>
					<input type='text' id='last_name'/>
				</div>
				<div class="field">
					<span class="error"></span>
				</div>
				<div class="field">
					<label>Username:</label>
					<input type='text' id='username' class="valid"/>
				</div>
				<div class="field">
					<span class="error"></span>
				</div>
				<div class="field">
					<label>Password:</label>
					<input type='password' id='password' class="valid"/>
				</div>
				<div class="field">
					<span class="error"></span>
				</div>
				<div class="field">
					<label>Confirm Password:</label>
					<input type='password' id='passwordConfirm' class="valid"/>
				</div>
				<div class="field">
					<span class="error"></span>
				</div>
				<div class="field">
					<p id='resultSuccess'>User created successfully!</p>
				</div>
				<div>
					<p id='resultError' style='color: red'>Error creating user.</p>
				</div>
				<div class="field">
					<a id="create_user" class="button special">Create Account</a>
				</div>
				<div class="field">
					<a href='/login'>Already have an account? Login here.</a>
				</div>
			</form>
		</div>
	</div>
</section>

<!-- Scripts -->
<script src="/js/common/jquery.min.js"></script>
<script src="/js/common/jquery.scrolly.min.js"></script>
<script src="/js/common/jquery.scrollex.min.js"></script>
<script src="/js/common/skel.min.js"></script>
<script src="/js/common/util.js"></script>
<script src="/js/common/main.js"></script>

</body>
</html>