<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Cookbook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
	<link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>

<h2 style="text-align: center; margin-top: 100px;">There was an issue...</h2>

</body>
</html>