<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Cookbook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="js/scripts/results.js"></script>
    <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
	<link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/custom.css" />
</head>
<body>

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/logout">Logout</a></div>
    <a href="/new">New Recipe</a>
    <a href="#menu" class="toggle"><span>Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/home">Home</a></li>
        <li><a href="/mycookbook">My Cookbook</a></li>
        <li><a href="#">My Interests</a></li>
        <li><a href="#">My Travels</a></li>
        <li><a href="#">My Wines</a></li>
        <li><a href="#">My Favorites</a></li>
        <li><a href="#">New Recipe</a></li>
        <li><a href="#">New Post</a></li>
        <li><a href="#">Feed</a></li>
        <li><a href="#">My Profile</a></li>
    </ul>
</nav>

<section id="banner">
<div class="inner">
    <h1>My Cookbook</h1>
</div>
</section>

<section>
    <p>search bar here</p>
</section>

<section id="one" class="wrapper style2">
    <div class="inner">
        <div id="entry" class="grid-style"></div>
    </div>
</section>

<!-- Scripts -->
<script src="js/common/jquery.min.js"></script>
<script src="js/common/jquery.scrolly.min.js"></script>
<script src="js/common/jquery.scrollex.min.js"></script>
<script src="js/common/skel.min.js"></script>
<script src="js/common/util.js"></script>
<script src="js/common/main.js"></script>

</body>
</html>